@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,500&display=swap');


* {
    box-sizing: border-box;
    background-color: #1f2937;
    text-decoration: none;
    list-style-type: none;

}
body,
.top
{
    display: flex;
    flex-direction: column;
}.fondo1 {
    color: aliceblue;
}
.header{
    gap:450px;
}
.header,
.first,
.links {
    display: flex;
  
}
.links{
    gap:15px;
    margin-top:20px;
}
.header{
    gap:450px;
}
.first{
    gap:100px;
    align-items: center;
}
.top{
    align-items: center;
}

.first-header
{
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
}

.first-header-subtext{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

.logo{
    font-size: 24px;    
    color:#F9FAF8;
}
.image-subtext p{
    width:180px;
    text-align: center;   
}
.image-subtext img{
    height:200px;
    border-radius: 10px;
    border:solid blue 2px;
    width:200px;
}

.first-button{
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding:0;
    width:100px;
    height:30px;
}
.foto {
    text-align: center;
}
a:visited {
    color: rgb(255, 255, 255);
}

ul {
    display: flex;
    gap: 40px;

}

button {
    color: aliceblue;

    font-size: medium;
    font-weight: bold;
    border: none;
    padding: 10px;
    background-color: rgb(13, 109, 165);
    border-radius: 9px;

}