@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,500&display=swap');


* {
    box-sizing: border-box;
    background-color: #1f2937;
    text-decoration: none;
    list-style-type: none;
}
body {
    display: flex;
    flex-direction: column;
}
a:visited{
    color: #f9faf8;
}
.header,
.logo,
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    color: aliceblue;
}
.header {
    color: #f9faf8;
    font-size: 24px;
    
}