@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,500&display=swap');


* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

a:visited {
    color: #f9faf8;
}
.header{
    gap: 450px;
    color: #f9faf8;
    font-size: 24px;
}
.header,
.logo,
.links {
    display: flex;
    color: aliceblue;
}
.links{
    gap: 15px;
    margin-top: 20px;
}

.first-container {

    display: flex;
    gap: 100px;
    align-self: center;

}

.first-container .izq {
    width: 470px;
    padding-bottom: 100px;
}
